<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/css/plans.css" />
    <script defer src="/static/script.js"></script>
    <script defer src="/static/js/plans.js"></script>
    <title>בחירת מנוי</title>
  </head>
  <body id="plans">
    <div class="multiForm">
      <div class="circle">
        <span>1<br />הרשמה</span
        ><img src="/static/images/Icons/verify.png" alt="verify" />
      </div>
      <div class="circle">
        <span>2<br />בחירת תוכנית</span
        ><img src="/static/images/Icons/answer.png" alt="choose" />
      </div>
      <div class="circle">
        <span>3<br />תשלום</span
        ><img src="/static/images/Icons/credit-card.png" alt="credit-card" />
      </div>
    </div>

    <h1 class="Title">בחרו חבילה</h1>
    <ul class="TrainerContainer">
      <li class="ImageContainer">
        <img
          src="/static/images/packages/3M.png"
          alt="3 mounths"
          class="image"
        />
        <div class="overlay">
          <div class="Trainertext">
            <div class="subTitle">מנוי תלת חודשי</div>
            <ul>
              <li>13 אימונים אישיים.</li>
              <li>כניסה חופשית לסטודיו 24/7.</li>
              <li>מאמן אישי צמוד אליך!</li>
              <li>המחיר כולל גישה למתקנים ושיעורי קבוצות.</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ImageContainer">
        <img src="/static/images/packages/6M.png" alt="6M" class="image" />
        <div class="overlay">
          <div class="Trainertext">
            <div class="subTitle">חצי שנתי</div>
            <ul>
              <li>26 אימונים</li>
              <li>כניסה חופשית לסטודיו 24/7.</li>
              <li>ליווי תזונתי אונליין</li>
            </ul>
          </div>
        </div>
      </li>

      <li class="ImageContainer">
        <img src="/static/images/packages/12M.png" alt="1YEAR" class="image" />
        <div class="overlay">
          <div class="Trainertext">
            <div class="subTitle">מנוי שנתי</div>
            <ul>
              <li>52 אימונים</li>
              <li>כניסה חופשית לסטודיו 24/7.</li>
              <li>ליווי תזונתי אונליין</li>
              <li>המחיר כולל גישה למתקנים ושיעורי קבוצות.</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
    <form class="formContainer">
      <div class="input-group">
        <label>החל אימונים מתאריך:</label>
        <input id="startDate" type="date" />
      </div>
      <div class="input-group">
        <label>קוד קופון (אופציונלי)</label>
        <input id="copun" type="text" />
      </div>
      <div class="input-group">
        <label>אמצעי תשלום:</label>
        <select id="method">
          <option value="" disabled hidden selected></option>
          <option value="card">כרטיס אשראי</option>
          <option value="PayPal">PayPal</option>
          <option value="Bit">העברה בביט</option>
        </select>
      </div>
    </form>
    <a id="nextPage" href="/views/payment.html"
      ><button class="button-primary">
        <img src="/static/images/Icons/credit-card.png" alt="card" />
        <span>מעבר לתשלום</span>
      </button>
    </a>
    <div id="alert" class="alert hidden">
      <span class="closebtn">&times;</span>
      <strong>שים לב! <span id="msg"></span></strong>
    </div>
  </body>
</html>
