<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <script defer src="/static/script.js"></script>
    <script defer type="module" src="/static/js/register.js"></script>
    <title>הרשמה</title>
  </head>
  <body id="register">
    <div class="multiForm">
      <div class="circle">
        <span>1<br />הרשמה</span
        ><img src="/static/images/Icons/verify.png" alt="verify" />
      </div>
      <div class="circle">
        <span>2<br />בחירת תוכנית</span
        ><img src="/static/images/Icons/answer.png" alt="choose" />
      </div>
      <div class="circle">
        <span>3<br />תשלום</span
        ><img src="/static/images/Icons/credit-card.png" alt="credit-card" />
      </div>
    </div>
    <div>
      <h1 class="Title">הרשמה</h1>
    </div>
    <form id="personal-details" class="formContainer">
      <div class="details inputs-container">
        <div class="input-group">
          <label>שם משתמש:</label>
          <input id="username" type="text" required />
        </div>
        <div class="input-group">
          <label>סיסמא:</label>
          <input id="password" type="password" required />
        </div>
        <div class="input-group">
          <label>חזור על סיסמא:</label>
          <input id="repassword" type="password" required />
        </div>
        <div class="input-group">
          <label>שם פרטי:</label>
          <input id="firstName" type="text" required />
        </div>
        <div class="input-group">
          <label>שם משפחה:</label>
          <input id="lastName" type="text" required />
        </div>
        <div class="input-group">
          <label>תאריך לידה:</label>
          <input id="bod" type="date" required />
        </div>
        <div class="input-group">
          <label>טלפון:</label>
          <input id="phone" type="text" required placeholder="xxx-xxxxxxx" />
        </div>
        <div class="input-group">
          <label>דוא"ל:</label>
          <input id="email" type="email" required placeholder="xxx@xxx.xxx" />
        </div>
      </div>
      <div class="measurements inputs-container">
        <div class="input-group">
          <label>משקל:</label>
          <input id="weight" type="text" required placeholder="(בקילוגרמים)" />
        </div>
        <div class="input-group SelectBox">
          <label>מגדר:</label>
          <select id="gender" required>
            <option value="" disabled hidden selected>בחר מגדר</option>
            <option name="male" value="גבר">גבר</option>
            <option name="female" value="אישה">אישה</option>
            <option name="other" value="אחר">אחר</option>
          </select>
        </div>
        <div class="input-group">
          <label>גובה:</label>
          <input id="height" type="text" required placeholder="(בסנטימטרים)" />
        </div>
        <div class="input-group takanon">
          <input id="takanon" type="checkbox" required />
          <label for="takanon"
            >אני מאשר שקראתי את
            <a href="/static/files/takanon.pdf" target="_blank"
              >התקנון</a
            ></label
          >
        </div>
        <div id="nextPage">
          <a href="/plans.html">
            <button class="button-primary">
              <img src="/static/images/Icons/answer.png" alt="answer" /><span
                >מעבר לבחירת תוכנית
              </span>
            </button>
          </a>
        </div>
      </div>
    </form>
    <br />
    <div id="alert" class="alert hidden">
      <span class="closebtn">&times;</span>
      <strong>שים לב!<span id="msg"></span></strong>
    </div>
    <div id="signed">
      לקוח קיים?
      <a href="/views/login.html"
        ><button class="button-primary"><span>כניסה למערכת</span></button>
      </a>
    </div>
  </body>
</html>
