* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: bold;
}

html,
body {
  font-size: large;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  direction: rtl;
}

ul,
li {
  list-style: none;
}

.hidden {
  display: none;
}

/* Titles styling */
.Title {
  justify-content: center;
  text-align: center;
  color: rgb(231, 76, 76);
  padding: 25px;
}

.Title img {
  margin: 0 5px;
  width: 40px;
}

.subTitle {
  display: flex;
  justify-content: center;
  color: #f1ff27;
}

/* FORM STYLING */
.Pcontainer {
  display: flex;
  line-height: 30px;
  margin: 0 40px;
  text-align: center;
  color: rgb(139, 139, 139);
}
.formContainer {
  font-size: 20px;
  padding: 5px;
  gap: 20px;
}
.formContainer .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formContainer .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.formContainer .input-group label {
  font-size: smaller;
  width: max-content;
}
.formContainer .input-group input,
.formContainer .input-group select {
  padding: 3px;
  width: 150px;
}

.formContainer .input-group img {
  cursor: pointer;
}
/* END FORM STYLING */

/* BUTTON STYLING */
.button-primary {
  background-color: rgb(231, 76, 76);
  border-radius: 10px;
  padding: 10px 20px;
  border-style: double;
  border-color: #9e0705;
  color: rgb(255, 255, 255);
  cursor: pointer;
  min-width: 120px;
}

.button-primary:hover {
  background-color: #ff8080;
}

.button-primary span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-primary span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-primary:hover span {
  padding-right: 25px;
}

.button-primary:hover span:after {
  opacity: 1;
  right: 0;
}

.button-secondary {
  background-color: rgb(248, 248, 76);
  border-radius: 10px;
  padding: 10px 20px;
  border-style: double;
  color: rgb(0, 0, 0);
  cursor: pointer;
  min-width: 120px;
}

body .button-secondary:hover {
  background-color: rgb(248, 217, 123);
}
/* END BUTTONS STYLING */

/*INPUTS ANS SELECT BOX STYLING */
input {
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.05);
}

.SelectBox select {
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
  padding: 12px;
  width: 250px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
}

/*END INPUTS STYLING*/

/*HEADER STYLING*/
header {
  background: url("https://th.bing.com/th/id/R.402e0193ebf098527ea4cd04f9bfeb23?rik=Ca9bVKm7W4NZ3g&riu=http%3a%2f%2fwww.pngmagic.com%2fproduct_images%2fred-background-vector-for-website-banner-use.jpg&ehk=eNV8asShFiyL6YBt6gt7HSDqipJ7tok%2bBJGzMVBkRe8%3d&risl=&pid=ImgRaw&r=0");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlaye {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #f90808cb 10%, #fd5e086b 100%);
}
header .overlaye a {
  text-decoration: none;
}
header h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
}

header h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

header button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover {
  cursor: pointer;
}
/* END header design*/

/*MAIN DESIGN*/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  gap: 20px;
  padding: 15px 0;
}
/* END MAIN TAG DESIGN*/

/* FOOTER DESIGN */
.footer {
  background-color: #f82525;
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  border-top: 1px solid #fac609;
  border-top-style: solid;
  margin-top: 150px;
}
.footer > * {
  flex: 1 100%;
}
.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer__logo {
  margin-right: 17px;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 1.5rem;
  font-style: oblique;
  color: rgb(255, 210, 32);
}

.footer__addr h2 {
  color: white;
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 15px;
  color: #f1ff27;
}

.footer address {
  font-style: normal;
  color: rgb(255, 245, 245);
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(247, 228, 228);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}
.footer_img {
  width: 120px;
  height: auto;
}

.footer__btn:hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: rgb(255, 210, 32);
}

.footer__nav {
  display: flex;
  flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: rgb(255, 255, 255);
}

.nav__ul .footer__btn {
  color: rgb(3, 1, 1);
}
.legal {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  color: rgb(255, 255, 255);
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.socialMedia {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-items: left;
  align-items: left;
}
.socialMedia img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}
@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  .nav__item--extra {
    flex-grow: 2;
  }
  .footer__addr {
    flex: 1 0px;
  }
  .footer__nav {
    flex: 2 0px;
  }
}
/* END footer design */
/* NAV STYLING */

nav a {
  text-decoration: none;
}

.logo {
  color: #ffc925;
  margin: 0;
  font-size: 1.7em;
}

.main-nav {
  margin-top: 5px;
}
.logo a,
.main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.main-nav a {
  color: #fbb92b;
  font-size: 0.99em;
}

.main-nav :hover,
a:hover {
  color: #fce375;
}

.nav {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border: 1px solid #a2a2a2;
  background-color: #f4f4f4;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.947);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .nav,
  .main-nav {
    display: flex;
  }
  .nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
/*END NAV STYLE */
/** ANIMATIONS **/
/* RAINBOW ANIMATIONS */
.yellowRainbow:hover {
  background-image: linear-gradient(
    to right,
    #ffa640,
    #f1ff27 16.65%,
    #f68b1d 16.65%,
    #f68b1d 33.3%,
    #fced00 33.3%,
    #fced00 49.95%,
    #ffb300 49.95%,
    #f35911 66.6%,
    #ffe312 66.6%,
    #ff850b 83.25%,
    #ffd04f 83.25%,
    #faba0b 100%,
    #ffe100 100%
  );
  color: white;
  animation: slidebg 2s linear infinite;
}

.redRainbow:hover {
  background-image: linear-gradient(
    to right,
    #fb0c0c,
    #ff2727 16.65%,
    #f54040 16.65%,
    #f6281d 33.3%,
    #fc5d4f 33.3%,
    #ff915e 49.95%,
    #f85d3e 49.95%,
    #fe1111 66.6%,
    #ff1212 66.6%,
    #ff0b0b 83.25%,
    #fb0808 83.25%,
    #d70707 100%,
    #fd2525 100%
  );
  color: white;
  animation: slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}
.follow {
  margin-top: 40px;
}
.follow a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}
/* END RAINBOW ANIMATIONS */
/* image flying animation */
.flier {
  animation: fly 50s linear infinite;
  pointer-events: none !important;
  top: 0;
  left: 0;
  transform: translateX(-120%) translateY(-120%) rotateZ(0);
  position: fixed;
  animation-delay: 1s;
  z-index: 999999;
}
@keyframes fly {
  98.001%,
  0% {
    display: block;
    transform: translateX(-200%) translateY(100vh) rotateZ(0deg);
  }
  15% {
    transform: translateX(100vw) translateY(-100%) rotateZ(180deg);
  }
  15.001%,
  18% {
    transform: translateX(100vw) translateY(-30%) rotateZ(0deg);
  }
  40% {
    transform: translateX(-200%) translateY(3vh) rotateZ(-180deg);
  }
  40.001%,
  43% {
    transform: translateX(-200%) translateY(-100%) rotateZ(-180deg);
  }
  65% {
    transform: translateX(100vw) translateY(50vh) rotateZ(0deg);
  }
  65.001%,
  68% {
    transform: translateX(20vw) translateY(-200%) rotateZ(180deg);
  }
  95% {
    transform: translateX(10vw) translateY(100vh) rotateZ(0deg);
  }
}
/* End flying animation */

/* floating animation */
@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
.float-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-img {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
}
/* END floating animation */

/*Heartbeat animation */
.heartbeat {
  animation: heartbeat 3s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.1);
  }

  40% {
    transform: scale(1);
  }

  60% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
/*END heartbeat animation */
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* END ANIMATIONS */
/* TABLE STYLING */
.myTable {
  visibility: hidden;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

.myTable td,
.myTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.myTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

.myTable tr:hover {
  background-color: #ddd;
}

.myTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fb2d2d;
  color: white;
}
/* END TABLE STYLING */

/* multiForm */
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100px;
  height: 100px;
  color: rgb(253, 238, 35);
  font-size: 3opx;
  margin-top: 50px;
  text-align: center;
  background: rgb(248, 38, 38);
  border-color: #f8be2a;
  border-style: groove;
  border-radius: 50%;
}

.circle img {
  height: 25px;
  width: 25px;
}

.multiForm a {
  text-decoration: none;
}
.multiForm {
  display: flex;
  flex-flow: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.resize {
  width: 40px;
  height: 40px;
}

/* multiForm */

/* Tooltip */
.tooltip {
  /* position: relative; */
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(250, 207, 79);
  color: rgb(0, 0, 0);
  font-size: small;
  border-color: #f93232;
  border-style: double;
  text-align: center;
  min-width: 80px;
  border-radius: 6px;
  text-align: right;
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* END tooltip*/

.Trainertext li {
  list-style: circle;
  list-style-image: url("/static/images/Icons/checkmark.png");
}

@media (max-width: 1130px) {
  .Trainertext li {
    list-style: unset;
  }
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #f13518;
}

.ImageContainer:hover .overlay {
  opacity: 1;
}

.Trainertext {
  color: white;
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 19%;
}

@media (max-width: 870px) {
  .Trainertext {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .Trainertext {
    margin-top: 0;
  }
}

@media (max-width: 550px) {
  .Trainertext {
    font-size: 13px;
  }
}

.TrainerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  margin: 0 30px;
  max-width: 1200px;
}

/* ERROR MESSAGE DESIGN */
.alert {
  padding: 20px;
  margin-top: 30px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
/* END ERROR MESSAGE DESIGN */

.red {
  color: red;
}
.yellow {
  color: rgb(244, 206, 16);
}
.green {
  color: rgb(30, 215, 48);
}

/* SLIDER SHOW DESIGN */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 0 2px;
  background-color: rgb(237, 200, 200);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: rgb(201, 98, 98);
}

.slideshow-container img {
  max-width: 100%;
  height: 25rem;
  border: 1px solid rgb(250, 63, 63);
  border-radius: 8px;
  padding: 5px;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
