<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script defer src="../static/js/script.js"></script>
    <script defer src="../static/js/about.js"></script>
    <script>
      const currentUser = <%-user %> || null;
    </script>
    <title>אודותינו</title>
  </head>
  <body id="aboutUs">
    <main>
      <p class="Pcontainer">
        זה אירובי? זה אימון פונקציונלי? זה סטודיו TRX? לא, זה פשוט סטודיו גט-פיט
        – ההתמכרות הבריאה החדשה שלך!
        <br />
        תשכחו כל מה שאתם חושבים שאתם יודעים על חדרי כושר ואימונים וקפצו איתנו
        קפיצת ראש ענקית אל תוך עולם חדש ומופלא -העולם של גט-פיט.
        <br />
        כאן כל אימון שונה מקודמו, מאתגר, ונותן תחושת סיפוק שכמוה לא הכרתם.
        <br />
        המדריכים שלנו הם לא רק הטובים ביותר בתחום, הם גם יועצים, קואצ’רים
        וחברים. הקבוצות בהן נערכים השיעורים הן קבוצות קטנות של אלופים שיחד איתכם
        קופצים עד הקצה ואז עוד קצת.
        <br />והדובדבן שבקצפת! חוגי הכושר שלנו לילדים שלכם… אז למה אתם מחכים?
        הצטרפו למשפחת גט-פיט סטודיו ותתכוננו להפתיע את עצמכם!
        <br />
      </p>
      <a href="/contact"
        ><button class="button-primary redRainbow">
          <span>מעוניינים בפרטים נוספים? - צרו קשר</span>
        </button></a
      >
      <h1 class="Title">
        המאמנים שלנו
        <img src="../graphics/images/Icons/crown.png" alt="crown" />
      </h1>
      <p class="Pcontainer">
        אנו, צוות המאמנים של סטודיו GetFit, מנוסים ומקצועיים מאוד ובעלי אנרגיות
        אין-סופיות… כולנו מיומנים בשיטת האימון הפונקציונאלי, ומבטיחים להוציא מכם
        את המיטב!
        <br />
        העבירו את העכבר על התמונה לקבלת פרטים נוספים עלינו.
      </p>
      <ul class="TrainerContainer">
        <li class="ImageContainer">
          <img
            src="../graphics/images/Trainers/bar.jpg"
            alt="bar"
            class="image"
          />
          <div class="overlay">
            <div class="Trainertext">
              <div class="subTitle">רועי כהן</div>
              <ul>
                <li>מאמן כושר מוסמך</li>
                <li>מוסמך לאימוני ילדים</li>
                <li>יועץ תזונה אקדמאי</li>
                <li>הכשרה בקמפוס שיאים - תל אביב</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="ImageContainer">
          <img
            src="../graphics/images/Trainers/yoel.jpg"
            alt="Yoel"
            class="image"
          />
          <div class="overlay">
            <div class="Trainertext">
              <div class="subTitle">יואל כהן</div>
              <ul>
                <li>מוסמך לאימוני TRX</li>
                <li>מוסמך לאימון בבית</li>
                <li>בוגר קורס מדריכי כושר צבאי</li>
              </ul>
            </div>
          </div>
        </li>

        <li class="ImageContainer">
          <img
            src="../graphics/images/Trainers/Amir.jpg"
            alt="Amir"
            class="image"
          />
          <div class="overlay">
            <div class="Trainertext">
              <div class="subTitle">אמיר הלל</div>
              <ul>
                <li>מנהל משרד ומכירות</li>
                <li>חובש</li>
                <li>תואר ראשון במדעי התזונה</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <h1 class="Title">
        לקוחות מרוצים
        <img
          src="../graphics/images/Icons/customer-review.png"
          alt="customers"
        />
      </h1>
      <ul class="TrainerContainer">
        <li class="ImageContainer">
          <img
            src="../graphics/images/BeforeAndAfter/EdenBefore.jpg"
            alt="Eden before and after"
            class="image"
          />
          <div class="overlay">
            <div class="Trainertext">
              <div class="subTitle">
                עדן מציגה - חיטוב הגוף
                <img src="../graphics/images/Icons/diet.png" />
              </div>
              <ul>
                <li>פחות 13.7 ק"ג!</li>
                <li>ירידה של 9.3% שומן</li>
                <li>עליה דרסטית במסת שריר!</li>
              </ul>
            </div>
          </div>
        </li>
        <li class="ImageContainer">
          <img
            src="../graphics/images/BeforeAndAfter/IdanBefore.jpg"
            alt="Idan Before and after"
            class="image"
          />
          <div class="overlay">
            <div class="Trainertext">
              <div class="subTitle">
                עידן מציג - פיתוח שרירים
                <img src="../graphics/images/Icons/strong.png" alt="strong" />
              </div>
              <ul>
                <li>עליה של 9.5 ק"ג במסת שריר!</li>
                <li>שיפור טכניקה וביצועים אתלטיים</li>
                <li>עלייה דרסטית בהיקפי פלג גוף עליון ותחתון</li>
              </ul>
            </div>
          </div>
        </li>
      </ul>

      <a id="joinNowButton" href="../register">
        <button class="button-primary redRainbow floating-img">
          ומה עם השינוי שלכם? <br />
          הצטרפו עכשיו!
        </button></a
      >
    </main>
  </body>
</html>
