<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="../js/script.js"></script>
    <script defer src="../js/contact.js"></script>
    <script>
      const currentUser = <%-user %> || null;
    </script>

    <title>צור קשר</title>
  </head>
  <body id="contact">
    <div id="contactForm">
      <h1>&bull; צור קשר &bull;</h1>
      <form id="contact_form" action="/api/contact" method="post">
        <div class="name">
          <label for="name"></label>
          <input
            type="text"
            placeholder="שם מלא"
            name="name"
            id="name_input"
            minlength="2"
            required
          />
        </div>
        <div class="email">
          <label for="email"></label>
          <input
            type="email"
            placeholder="כתובת מייל"
            name="email"
            id="email_input"
            required
          />
        </div>
        <div class="telephone">
          <label for="phone"></label>
          <input
            type="text"
            placeholder="מס' טלפון"
            name="phone"
            id="telephone_input"
            required
          />
        </div>
        <div class="subject">
          <label for="subject"></label>
          <select
            placeholder="נושא הפניה"
            name="topic"
            id="subject_input"
            required
          >
            <option value="" disabled hidden selected>בחר נושא</option>
            <option>קבלת פרטים</option>
            <option>פניה בנושא תשלום</option>
            <option>שאלה מקצועית בנושא אימונים/תזונה</option>
          </select>
        </div>
        <div class="message">
          <label for="message"></label>
          <textarea
            name="content"
            placeholder="תוכן הפנייה"
            id="message_input"
            cols="30"
            rows="5"
            minlength="10"
            required
          ></textarea>
        </div>
        <div id="alert" class="alert hidden">
          <span class="closebtn">&times;</span>
          <strong>שים לב!<span id="msg"></span></strong>
        </div>
        <button class="button-primary"><span>שלח/י</span></button>
      </form>
    </div>
    <main>
      <h2 class="Title">שמרו איתנו על קשר</h2>
      <img
        src="../graphics/images/Icons/placeholder.png"
        class="resize"
        alt="location"
      />
      <a href="" alt="">הגפן 2, Beersheba, Israel</a>
      <img src="../graphics/images/Icons/email.png" class="resize" alt="mail" />
      <a href="mailto: matanvi@post.bgu.ac.il">matanvi@post.bgu.ac.il </a>
      <img
        src="../graphics/images/Icons/phone_icon.jpg"
        class="resize"
        alt="phone"
      />
      <a href="tel:6031112298p000">052-8816-615 </a>
      <h3 class="Title">חפשו אותנו גם ברשתות החברתיות</h3>
      <ul class="socialMedia">
        <a href="https://www.facebook.com/GetFitTrainers" target="_blank">
          <img
            src="../graphics/images/Icons/facebook.png"
            class="floating-img"
            alt="facebook"
          />
        </a>
        <a href="https://www.instagram.com/getfit.b7/" target="_blank">
          <img
            src="../graphics/images/Icons/IG.png"
            class="floating-img"
            alt="instagram"
          />
        </a>
      </ul>
    </main>
  </body>
</html>
