<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <script defer src="../static/js/script.js"></script>
    <script defer src="../static/js/login.js"></script>
    <script>
      const currentUser = <%-user %> || null;
    </script>
    <title>כניסה לאתר</title>
  </head>
  <body id="login">
    <div class="logo">
      <img src="../graphics/images/Icons/Logo.png" alt="logo" />
    </div>
    <h1 class="Title">ברוכים הבאים ל- GETFIT</h1>
    <div id="fromMsg" class="alert hidden"></div>
    <form class="formContainer" action="/login" method="post">
      <label for="username">שם משתמש:</label>
      <input id="username" name="username" type="text" />
      <label for="password">סיסמא:</label>
      <input type="password" name="password" />
      <input type="text" name="from" id="from" style="display: none" />
      <button type="submit" class="button-primary yellowRainbow" value="login">
        כניסה
      </button>
    </form>
    <a href="../register">
      <button class="button-primary redRainbow">הרשמה מהירה</button>
    </a>
    <div id="alert" class="alert hidden">
      <span class="closebtn">&times;</span>
      <strong>שים לב! <span id="msg"></span></strong>
    </div>
  </body>
</html>
