#aboutUs .ImageContainer {
  cursor: pointer;
  position: relative;
  width: 50%;
  height: 50%;
}

#aboutUs header h1 {
  font-size: 35px;
  margin-bottom: 0px;
}

#aboutUs .button-primary {
  font-size: large;
  margin-top: 40px;
  width: 250px;
  height: 70px;
}
