#progress .input-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#progress footer {
  align-self: normal;
}

#progress .formContainer {
  margin-top: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group label {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#progress .Pcontainer {
  margin-top: 20px;
}
.results {
  margin-left: 100px;
  margin-right: 100px;
}
